body{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
nav{
    width: 940px;
    margin: 60px 0 0 auto;
}
nav li{
    display: inline-block;
    padding: 20px;
}
nav a{
    text-decoration: none;
}
.projetos{
    width: 90%;
    height: 600px;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
    background-color: beige;

}
.projetos li{
    display: inline-block;
    text-align: center;
    padding: 100px, 0 0 20px;
    margin: 5px;
    height: 300px;
    width: 700px;
    background-color: azure;
}
.social,h1{
    width: 30px;
    padding: 3px;
}

footer{
    text-align: center;
    padding: 90px;
}