#banner{
    width: 100%;
}
.principal{
   padding: 30px;
}
.titulo-centralizado{
    text-align: center;
}
p{
    text-align: center;
}
#missao{
    font-size: 20px;
}
em strong{
    color: rgb(151, 45, 45);
}
.itens{
    font-size: 25px;
    font-style: italic;
}
.beneficios{
    background-color: aliceblue;
    padding: 20px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios{
    width: 50%;
    
}
